[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysqlite3 = "*"
pyexiftool = "*"
typer = "*"
rich = "*"

[dev-packages]
wheel = "*"
setuptools = "*"

[requires]
python_version = "3.9"
