Options_Input_Popup {
    align: center middle;
}

Options_Input_Popup > Vertical {
    width: 60;
    /* height: auto; */
    background: $surface;
    padding: 1;
}

ListView {
    border: black;
    height: auto;
}