DataTable, Placeholder, Transaction_Table, Merchant_Table, Field_Switcher, TabbedContent ContentSwitcher {
    height: 1fr;
}


Create_Popup {
    align: center middle;
}

Create_Popup > Vertical {
    width: 60;
    height: auto;
    background: $surface;
    padding: 1;
}

Create_Popup > Vertical > DataTable {
    border: $error;
}

Create_Popup #validation_status {
    color: $error;
}

.submittable #validation_status {
    color: $accent;
}

.submittable > Vertical > DataTable {
    border: $accent;
}